button {
  background-color: #aee4f0;
  border: none;
}
.Weather .temperature-description {
  padding: 20px;
}
.Weather .degrees {
  font-size: 16px;
  position: relative;
  top: -14px;
}
.Weather .current-icon {
  height: 120px;
  width: 120px;
  position: relative;
  top: 0;
  left: 53px;
}
.Weather .description {
  position: relative;
  top: 0px;
  left: 85px;
}
a:link {
  color: #ec6e4c;
  text-decoration: none;
}
a:visited {
  color: #6c77a3;
}
.Weather .btn {
  background-color: #6c77a3;
  border-color: #6c77a3;
}
.Weather .btn:hover {
  background-color: #ec6e4c;
  border-color: #ec6e4c;
}
